* {
    margin: 0;
    padding: 0;
}

label li {
    margin-left: 120px;
    font-size: 20px;
}

body {
    background: #FFFFFA;
}

header {
    width: 100%;
}

header nav {
    width: 100%;
    max-width: 100%;
    background: #7A7DAF;
    margin-top: -30px;
}

.menu_bar {
    display: none;
    height: 50px;
    align-items: center;
}

.interiorbar h3 {
    padding: 5px;
    text-transform: uppercase;
}

.btn-menu-bar {
    float: right;
    font-size: 20px;
    margin-right: 15px;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    margin-top: 30px;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #037E8C;
}

section {
    padding: 20px;
}

.contenido-general {
    display: flex;
}

.sidebar {
    width: 16rem;
    color: gray;
    font-weight: bold;
    height: 92vh;
    padding-top: 70px;
    margin-top: -17px;
    border: 1px solid rgb(197, 181, 181);
}

.sidebar a {
    color: rgba(196, 184, 184, 0.808);
    display: block;
    text-decoration: none;
    padding: 18px;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #7a7daf7a;
    color: rgb(68, 0, 85);
    font-weight: bolder;
    text-decoration: none;
}

.content {
    width: 100%;
}

.fondo {
    margin: -16px;
    margin-right: 10px;
    background: #D4D5E5;
    height: 200px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -16px;
}

.cont-dashboard {
    border: 1px solid rgb(207, 201, 201);
    padding-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -140px;
    border-radius: 10px;
    background: white;
    height: 550px;
}
.tabla-lg{
    width: 100%;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .menu_bar {
        display: block;
        width: 600px;
        background: #7A7DAF;
        color: white;
        font-weight: 900;
        padding: 5px;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    .sidebar {
        width: 80px;
        height: 100vh;
        margin-top: 0px;
    }
    .sidebar a span {
        display: none;
    }
    .fondo {
        margin-top: 0px;
        margin-right: -199px;
    }
    .sidebar a:hover {
        font-size: 20px;
    }
    .cont-dashboard {
        margin-left: -8px;
        margin-right: 48px;
        height: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}

#check {
    display: none;
}

#check:checked~.sidebar {
    margin-left: -170px;
    font-size: 20px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    margin-left: 180px;
}
